[submodule "extern/cppzmq"]
	path = extern/cppzmq
	url = https://github.com/zeromq/cppzmq.git
[submodule "extern/min-api"]
	path = extern/min-api
	url = https://github.com/Cycling74/min-api.git
[submodule "extern/max-sdk"]
	path = extern/max-sdk
	url = https://github.com/Cycling74/max-sdk.git
[submodule "extern/libzmq"]
	path = extern/libzmq
	url = https://github.com/zeromq/libzmq.git
[submodule ".agents/skills/max-external"]
	path = .agents/skills/max-external
	url = git@github.com:2bbb/max-external.git
[submodule ".agents/skills/max-patgen"]
	path = .agents/skills/max-patgen
	url = git@github.com:2bbb/max-patgen.git
[submodule "extern/max-sdk-base"]
	path = extern/max-sdk-base
	url = https://github.com/Cycling74/max-sdk.git
	branch = main
[submodule ".agents/skills/max-external-githubactions"]
	path = .agents/skills/max-external-githubactions
	url = git@github.com:2bbb/max-external-githubactions.git
	branch = main
